$font_path: "../assets/fonts";

@font-face {
	font-family: 'Rubik';
	src: local('Rubik Light'),
		 local('Rubik-Light'),
		 url("#{$font_path}/Rubik-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: 'Rubik';
	src: local('Rubik Regular'),
		 local('Rubik-Regular'),
		 url("#{$font_path}/Rubik-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: 'Rubik';
	src: local('Rubik SemiBold'),
		 local('Rubik-SemiBold'),
		 url("#{$font_path}/Rubik-SemiBold.ttf");
	font-weight: 600;
}