@import 'fonts.scss';
@import 'declarations.scss';
@import 'error.scss';
@import 'preloader.scss';


html {
	font-family: 'Rubik';
	font-size: $main_font_size;
	letter-spacing: 0.07rem;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $app_bg;
	color: $app_green;
}

h1, h5 {
	margin: 0;
}

button {
	border: 1px $app_green solid;
	border-radius: 3px;
	background-color: transparent;
	color: $app_green;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: inherit;
	letter-spacing: inherit;
	padding: 4px 5px;
	transition: all 0.2s linear;

	&:hover {
		color: white;
		text-shadow: 0 0 1px white;
		border-color: white;
		box-shadow: 0px 0px 2px white;
		background-color: $hover_bg;
	}
}

//------------------Секция задач-------------------

.todos{
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	border: 1px $app_green solid;
	position: relative;
}

.todos__item {
	width: 100%;
	margin: 10px 0;
}

.todos__title {
	display: inline-block;
	padding: 0 7px;
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);
	background-color: $app_bg;
	font-size: 0.7rem;
	text-transform: lowercase;
}

//-------------------Элемент задачи------------------

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 600px;
	padding: 10px;
	margin: 10px;
	border: 1px $app_green solid;
	border-radius: 3px;
	box-shadow: 0 0 5px $green_shadow;
	box-sizing: border-box;	
	background-color: $todo_bg;
	font-size: 0.7rem;
	position: relative;
	transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
	&:hover {
		transform: scale(101%, 105%);
		box-shadow: 0 0 10px $green_shadow;
	}
}

.todo__icon {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: radial-gradient($app_green 35%, #000);
	margin-left: 10px;
	position: relative;
	&:before {
		content: '`';
		color: white;
		position: absolute;
		left: 12px;
		top: -1px;
		font-size: 22px;
		transform: rotate(0deg);
	}
}

.todo__icon_yellow {
	background: radial-gradient($app_yellow 35%, #000);
}

.todo__title {
	text-align: center;
	font-weight: 400;
	width: 35%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.todo__date {
	white-space: nowrap;
	&:before {
		content: 'дата создания: ';
		color: $app_red;
	}
}

.todo__control {
	white-space: nowrap;
}
.todo__button {
	width: 23px;
	height: 23px;
}
.todo__button_close {
	color: $app_red;
	&:hover {
		color: red;
		background-color: transparent;
	}
}

.todo__details {
	position: absolute;
	top: 43px;
	left: 1.5%;
	width: 97%;
	height: auto;
	padding: 10px 0 20px;
	border: 1px $app_green solid;
	background-color: $hover_bg;
	transition: all 0.3s linear;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
}
.todo__details_show {
	visibility: visible;
	opacity: 1;
}

.todo__details-item {
	position: relative;
	width: 80%;
	margin: 20px auto 0;
	&:before {
		content: '';
		color: $app_red;
		position: absolute;
		top: -18px;
		left: 50%;
		transform: translateX(-50%);
		font-weight: 600;
	}
}
.todo__details-item_description {
	&:before {
		content: 'Описание';
	}
}
.todo__details-item_comments {
	&:before {
		content: 'Комментарии';
	}
}

//----------------Секции------------------

.section {
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
}

.header {
	padding: 10px;
	background-color: #706e69;
}

//---------------Модальное окно------------------

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $modal_bg;
	z-index: 99;
	animation: open-modal 0.3s ease-out;
}
@keyframes open-modal{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal__body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__content {
	position: relative;
	width: 500px;
	background-color: $modal_content_bg;
	animation: open-content 0.3s ease-out;
}
@keyframes open-content{
	from {
		transform: translateY(-500px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
.modal__close {
	position: absolute;
	top: 5px;
	right: 5px;
}


//---------------Форма создания задачи---------------

.form {
	width: 70%;
	margin: 50px auto;
}
.form__table {
	margin-bottom: 30px;
	width: 100%;
}
.form__table tr {
	height: 30px;
	vertical-align: top;
}

.form__table td:first-child {
	text-align: right;
}

.form label {
	font-size: 0.68rem;
	padding-right: 5px;
}
.form input {
	width: 170px;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	border: 1px transparent solid;
	border-radius: 3px;
}
.form input:focus {
	@include input_focus($input_focus_clr);
}
.form textarea {
	width: 100%;
	height: 70px;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	border: 1px transparent solid;
	border-radius: 3px;
	resize: none;
}
.form textarea:focus {
	@include input_focus($input_focus_clr);
}
.form__control {
	display: flex;
	justify-content: center;
}
.form__button {
	margin: 0 15px;
	width: 130px;
}

//------------------Кнопка "закрыть"--------------

.close-btn {
	height: 23px;
	width: 23px;
	color: $app_red;
}
.close-btn::after {
	content: 'X';
	color: $app_red;
	position: relative;
	left: 0.5px;
	top: -2px;
	font-size: 15px;
	font-weight: 600;
	z-index: 5;
	letter-spacing: 1px;
}
.close-btn:hover {
	background-color: transparent;
	text-shadow: 0 0 3px $app_red;
}

//----------Подтверждение удаления задачи----------

.confirm {
	text-align: center;
}
.confirm__container {
	width: 70%;
	margin: 0 auto;
}
.confirm__title {
	font-size: 1rem;
	font-weight: 400;
	margin: 30px 0;
}
.confirm__buttons {
	margin: 30px 0;
}
.confirm__btn {
	width: 90px;
	margin: 0 10px;
}