@import 'fonts.scss';
@import 'declarations.scss';


html {
	font-family: 'Rubik';
	font-size: $main_font_size;
	letter-spacing: 0.07rem;
	font-weight: 300;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: $app_bg;
	color: $app_green;
}

h1 {
	margin: 0;
}

button {
	border: 1px $app_green solid;
	border-radius: 3px;
	background-color: transparent;
	color: $app_green;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: inherit;
	letter-spacing: inherit;
	padding: 4px 5px;
	transition: all 0.2s linear;

	&:hover {
		color: white;
		text-shadow: 0 0 1px white;
		border-color: white;
		box-shadow: 0px 0px 2px white;
		background-color: $hover_bg;
	}
}

//------------------Секция задач-------------------

.todos{
	min-height: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	border: 1px $app_green solid;
	position: relative;
}

.todos__item {
	margin: 20px 0;
	padding: 0 20px;
}

.todos__title {
	display: inline-block;
	padding: 0 7px;
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);
	background-color: $app_bg;
	font-size: 0.7rem;
	text-transform: lowercase;
}

//-------------------Элемент задачи------------------

.todo {
	position: relative;
	height: 154px;
	width: 400px;
	padding: 15px;
	border: 1px $app_green solid;
	border-radius: 3px;
	box-shadow: 0 0 5px $green_shadow;
	box-sizing: border-box;	
	background-color: $todo_bg;
}

.todo__title {
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
}
.todo__delete {
	position: absolute;
	right: 5px;
	top: 5px;
}
.todo__description {
	position: relative;
	left: 15px;
	top: 0px;
	box-sizing: content-box;
	width: calc(100% - 30px);
	height: 40px;
	margin: 15px 0 20px;
	font-size: 12px;
	overflow: hidden;
	transition: all 0.25s linear;
	overflow-wrap: break-word;
}
.todo__description::before {
	content: 'Описание: ';
	color: $app_red;

}
.todo__description:hover {
	padding: 10px 15px;
	left: 0px;
	top: -10px;
	color: white;
	border-color: white;
	background-color: $hover_bg;
	text-shadow: 0 0 1px white;
	box-shadow: 0px 0px 2px white;
	z-index: 10;
	
}
.todo__description:hover::before {
	text-shadow: 0 0 3px $app_red;
}

.todo__control {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 30px);
	position: absolute;
	bottom: 15px;
}
.todo__button {
	width: 120px;
}

.current {
	padding: 10px;
}
.shedule {
	padding: 10px;
}
.header {
	padding: 10px;
	background-color: #706e69;
}

//---------------Модальное окно------------------

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $modal_bg;
	z-index: 99;
	animation: open-modal 0.5s ease-out;
}
@keyframes open-modal{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal__body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__content {
	position: relative;
	width: 500px;
	background-color: $modal_content_bg;
	animation: open-content 0.5s ease-out;
}
@keyframes open-content{
	from {
		transform: translateY(-500px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
.modal__close {
	position: absolute;
	top: 5px;
	right: 5px;
}


//---------------Форма создания задачи---------------

.form {
	width: 70%;
	margin: 50px auto;
}
.form__table {
	margin-bottom: 30px;
	width: 100%;
}
.form__table tr {
	height: 30px;
	vertical-align: top;
}

.form__table td:first-child {
	text-align: right;
}

.form label {
	font-size: 0.68rem;
	padding-right: 5px;
}
.form input {
	width: 170px;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	border: 1px transparent solid;
	border-radius: 3px;
}
.form input:focus {
	@include input_focus($input_focus_clr);
}
.form textarea {
	width: 100%;
	height: 70px;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	border: 1px transparent solid;
	border-radius: 3px;
	resize: none;
}
.form textarea:focus {
	@include input_focus($input_focus_clr);
}
.form__control {
	display: flex;
	justify-content: center;
}
.form__button {
	margin: 0 15px;
	width: 130px;
}

//------------------Кнопка "закрыть"--------------

.close-btn {
	height: 23px;
	width: 23px;
	color: $app_red;
}
.close-btn::after {
	content: 'X';
	color: $app_red;
	position: relative;
	left: 0.5px;
	top: -2px;
	font-size: 15px;
	font-weight: 600;
	z-index: 5;
	letter-spacing: 1px;
}
.close-btn:hover {
	background-color: transparent;
	text-shadow: 0 0 3px $app_red;
}

//----------Подтверждение удаления задачи----------

.confirm {
	border: 1px $app_green solid;
	text-align: center;
}
.confirm__container {
	width: 70%;
	margin: 0 auto;
}
.confirm__title {
	font-size: 1rem;
	font-weight: 400;
	margin: 30px 0;
}
.confirm__buttons {
	margin: 30px 0;
}
.confirm__btn {
	width: 90px;
	margin: 0 10px;
}